@charset "utf-8";

/******** || BUTTON BOX SHADOW ********/

.btn:hover {
    -webkit-box-shadow: -1px 9px 40px rgba(235, 150, 150, 0.4);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.4);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.4);
}