@charset "utf-8";

:root {
    --m-reddish-color: #eb5252;
}

/******** || CONTACT ME NOW ********/
.availableContact {
    background-color: #FFF8F7;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.available-text {
    font-size: 2.7rem;
    padding-left: 5%;
}

.contactBtn {
    padding: 12px 25px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    float:right;
    background-color: #eb5252;
    background-color: var(--m-reddish-color);
    color: white;
}

.contactBtn:hover {
    color: white;
    background-color: #c9371a;
}

@media (max-width:991px) {

    .contactBtn {
        padding: 5px 25px;
        float:left;
        margin-left: 4%;
    }

    .available-text {
        font-size: 1.7rem;
    }
}

@media (max-width:576px) {

    .available-text {
        font-size: 1.1rem;
        padding-left: 0;
    }
    .contactBtn {
        font-size: 0.6rem;
    }
}