@charset "utf-8";

/************ || GO TO TOP BUTTON ************/
.topButtonPosition {
    position: fixed;
    bottom: 2%;
    right: 3.5%;
}

.topButton {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 50%;
}

.topButton svg {
    width: 1.1em;
    height: 1.4em;
}

.topButton:hover {
    -webkit-box-shadow: -1px 9px 90px rgba(0,0,0,0.7);  
    -moz-box-shadow: -1px 9px 90px rgba(0,0,0,0.7);  
    box-shadow:-1px 9px 90px rgba(0,0,0,0.7);
}