@charset "utf-8";

:root {
    --m-reddish-color: #eb5252;
    --m-darkGreyish-color: #34495E;
    --m-white-color: white;
}

/************ || HEADING BANNER ************/

div#banner-position {
    position: relative;
    -ms-background: linear-gradient(to left, #bdbdbd, #e0e0e0);
}

div#banner-position img {
    object-fit: cover;
}

div#aboutData {
    position: absolute;
    top: 33%;
    left: 5%;
    line-height: 1;
}

.pageHeading {
    font-family: "Times New Roman";
    font-size: 3.5rem;
    font-weight: bold;
}

a.heading-link {
    font-size: 1.1rem;
    color: #eb5252;
    color: var(--m-reddish-color);
}   
a.heading-link:hover {
    text-decoration: none;
    color: red;
}

.slash {
    color: #eb5252;
    color: var(--m-reddish-color);
    font-size: 1.5rem;
}

@media (max-width:680px) {
    .pageHeading {
        font-size: 2.2rem;
    }
    .heading-bg {
        height: 230px;
    }
    a.heading-link {
        font-size: 0.9rem;
    }
    .slash {
        font-size: 1.1rem;
    }
}