@charset "UTF-8";

/************* || GENERAL STYLES *************/
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* In Universal Selector, overflow-x property in mentioned */
/* body::-webkit-scrollbar {
    display: none;
    } 
*/
/* Hide scrollbar for IE and Edge */

:root {
    --m-reddish-color: #eb5252;
    --m-darkGreyish-color: #34495E;
    --m-white-color: white;
    --m-TimesNewRoman-font: "Times New Roman";
}

::selection {
    background-color:rgba(0,0,0,0.6);
    color: white;
    color: var(--m-white-color);
}

.message-input::placeholder {
    color: rgba(0,0,0,0.5);
    padding-left: 10px;
}

.myBtn {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 6px 25px;
    font-weight:bold;
    transition: 0.5s;
}

header {
    -webkit-box-shadow: -1px 9px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 9px 20px rgba(0,0,0,0.2);
    box-shadow:-1px 9px 20px rgba(0,0,0,0.2);
}

/************ || HERO BANNER ************/
div#banner {
    position: relative;
    border: 1px solid lightblue;
}

div#bannerData {
    position: absolute;
    top: 25%;
    left: 4%;
    width:50%;
}

#bannerHeading {
    color: #eb5252;
    color: var(--m-reddish-color);
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.heroName {
    font-family: "Times New Roman";
    font-family: var(--m-TimesNewRoman-font);
    margin-top: 20px;
    font-size: 5vw;
    color: #34495E;
    color: var(--m-darkGreyish-color);
}

p.aboutMe {
    font-size: 1.2vw;
    margin-bottom: 15px;
}

.bannerBtn {
    color: white;
    color: var(--m-white-color);
    background-color: #eb5252;
    background-color: var(--m-reddish-color);
    transition: 0.5s;
}

.bannerBtn:hover {
    background-color: #c9371a;
    color: white;
    color: var(--m-white-color);
}

.outlineBtn {
    color: #34495E;
    color: var(--m-darkGreyish-color);
    border: 1px solid var(--m-reddish-color);
    border-color: #eb5252;
    transition: 0.5s;
}

.outlineBtn:hover {
    background-color: #eb5252;
    background-color: var(--m-reddish-color);
    color: white;
    color: var(--m-white-color);
}

/************ || HERO BANNER ANIMATION ************/
@keyframes heroBannerButtons {
    0% {
        opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
div#buttonAnima {
  margin-left: 50%;
  animation-name: heroBannerButtons;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes heroBannerText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

div#textAnima {
  margin-top: 50%;
  animation-name: heroBannerText;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


/* To make Banner Components Responsive */
@media (max-width:620px) {
    .myBtn {
        font-size: 7px;
    }
}

@media (max-width:794px) {
    .heroName {
        margin-top: 5px;
    }
    .myBtn {
        padding: 5px 20px;
    }
    p.aboutMe {
        margin-bottom: 0;
    }
}

@media (max-width:1096px) {

    li.consultantBtn {
        display: none;
    }
}

@media screen and (max-width:991px) {
    .outlineBtn {
        display: none;
    }
}


/************ || QUERY & DISCUSSION PART ************/
.text-data {
    font-family: "Times New Roman";
    font-family: var(--m-TimesNewRoman-font);
    font-weight: 400;
}

.text-data + div {
    color: #34495E;
    color: var(--m-darkGreyish-color);
    margin-top: 35px;
    padding-right: 10%;
}

a.link {
    transition: 1s;
}
a.mailId {
    font-size: 1.5rem;
    color: black;
}

@media (max-width:576px) {
    a.mailId {
        font-size: 1.3rem;
    }
}
@media (max-width:300px) {
    a.mailId {
        font-size: 0.9rem;
    }
}

a.mailId:hover {
    color: #eb5252;
    color: var(--m-reddish-color);
}

/************ || SERVICES ************/
.services-heading {
    font-family: "Times New Roman";
    font-family: var(--m-TimesNewRoman-font);
    font-weight: bold;
    color: #34495E;
    color: var(--m-darkGreyish-color);
    margin-left: 5%;
}

img.serviceImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff1eb;
}

a.service-opt {
    color: #34495E;
    color: var(--m-darkGreyish-color);
    text-decoration: none;
    font-family: "Constantia";
    font-size: 1.3rem;
    display:block;
    text-align: center;
    font-weight: bolder;
}

a.service-opt:hover {
    color: white;
    color: var(--m-white-color);
}

div.hover-card {
    color: rgba(0,0,0,0.6);
    transition: 1s;
}
div.hover-card:hover {
    color: rgba(255,255,255,0.8);
    background-color: #eb5252;
    background-color: var(--m-reddish-color);
}

/************ || PORTFOLIO PAGE ************/
.service-nav {
    margin-top: 40px;
    float: right;
}

.service-item {
    transition: 0.6s;
}

.service-nav .nav-item {
    border-bottom: 2px solid #e8eaf6;
}

.service-nav a.nav-link {
    color: darkslategray;
}

.service-img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

@media screen and (max-width:768px) {
    .service-nav {
        float: left;
        margin-top: 0;
    }
}


/************ || PORTFOLIO DETAILS  ************/
div.portfolio-img {
    margin-top: 16vh;
}

div.portfolio-details-text p {
    line-height: 1.7;
    letter-spacing: 0.5px;
    color: #9fa8da;
    width: 60%;
}
@media screen and (max-width:992px) {
    div.portfolio-details-text p {
        width: 100%;
    }   
}


/************ || +VE FEEDBACK  ************/
div#positive-feedback {
    margin-top: 120px;
}
#feedback-font {
    font-size: 3.3rem;
    line-height: 1.2;
}
@media (max-width:991px) {
    #feedback-font {
        font-size: 2.3rem;
    }
}
.username {
    color: #eb5252;
    color: var(--m-reddish-color);
    font-family: "Times New Roman";
    font-family: var(--m-TimesNewRoman-font);
    font-size: 20px;
}

.feedback-card {
    padding-left: 5%;
    padding-right: 5%;
}

.feedback {
    color: #34495E;
    color: var(--m-darkGreyish-color);
    margin-top: 25px;
}

@media (max-width:768px) {
    .username {
        font-size: 18px;
    }
}

