@charset "utf-8";

:root {
    --m-reddish-color: #eb5252;
    --m-darkGreyish-color: #34495E;
    --m-white-color: white;
    --m-TimesNewRoman-font: "Times New Roman";
}

/************ || MESSAGE FORM ************/

.message-form-back {
    background-color: #FFF8F7;
    padding: 5%;
    padding-bottom: 8%;
}

.form-heading {
    font-size: 3.2rem;
}

.form-heading span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message-input {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.submitBtn {
    background-color: #eb5252;
    background-color: var(--m-reddish-color);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    color: var(--m-white-color);
    font-size: smaller;
    letter-spacing: 1.5px;
    transition: 1s;
}

.submitBtn:hover {
    background-color: #c9371a;
}

@media (max-width:991px) {
    .form-heading {
        font-size: 2.8rem;
    }
}