/************ || PAGE PRELOADER of index.html ************/
.loading{
    width: 100vw;
    height: 100vh;
    /*url('https://24.media.tumblr.com/f678ce38eb896bc1d4aaa911958af087/tumblr_n2eccv6Dev1rgpzseo1_1280.gif')*/
    /*https://assets.materialup.com/uploads/d897134f-48d1-4302-b3fd-ea045f3d4151/preview.gif*/
    background: white 
        url('https://assets.materialup.com/uploads/fa8430a1-4dea-49d9-a4a3-e5c6bf0b2afb/preview.gif')
        center no-repeat;
    position: fixed;
    z-index: 99999;
    background-size: 50%;
}


/*---------------------------------------------------------------*/
/*
    
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #000;
    width:100%;
    height:100%;
}

.loader{
    border:0 solid transparent;
    border-radius:50%;
    width:200px;
    height:200px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before .loader:after {
    content: '';
    border:1em solid red;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before  {
    animation-delay: .5s;
}

@keyframes loader{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%    {
        transform: scale(1);
        opacity: 0;
    }
}

*/