@charset "utf-8";

/************ || GO TO TOP BUTTON ************/
.topButtonPosition {
    position: fixed;
    bottom: 2%;
    right: 3%;
}

.topButton {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 50%;
    background-color: blue;
    background: radial-gradient(circle, #5cb85c, #17A2B8);
}

/* text-dark - #343A40 
    text-info - #17A2B8
    text-success - #5cb85c
*/

.topButton svg {
    width: 1.1em;
    height: 1.4em;
}

.topButton:hover {
    -webkit-box-shadow: -1px 9px 90px rgba(0,0,0,0.7);  
    -moz-box-shadow: -1px 9px 90px rgba(0,0,0,0.7);  
    box-shadow:-1px 9px 90px rgba(0,0,0,0.7);
}

.topButton:hover,
.topButton:active,
.topButton:focus {
    background: radial-gradient(circle, #343A40, #17A2B8);
}