@charset "utf-8";

/********** || COMMON STYLES **********/
*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

::selection{
    background-color:rgba(0,0,0,0.6);
    color: white;
}

/* || Cards (Category, Product) */

h2.categoryHeading:hover{ color:rgba(110, 110, 27, 0.6); }

.categoryCard {
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: -1px 5px 15px rgba(0,0,0,0.1);  
    -moz-box-shadow: -1px 5px 15px rgba(0,0,0,0.1);  
    box-shadow:-1px 5px 15px rgba(0,0,0,0.1);
}

.cardShadow{
    transition-duration: 0.6s;
    -webkit-box-shadow: -1px 9px 40px rgba(0,0,0,0.1);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.1);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.1);
    border-radius: 8px !important;
    border-color: rgba(128,128,128,0.13);
    transition:all 0.8s ease;
    box-sizing: border-box !important;
}

.cardShadow:hover {
    -webkit-box-shadow: -1px 9px 40px rgba(0,0,0,0.28);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.28);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.28);
    transform: scale(1.03);
    border-top: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}


/* || Card Zoom Effect */
.inner{
    overflow:hidden;
}
.inner img {
    transition:all 1.2s ease;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
.cardShadow:hover img{
    transform: scale(1.03);
}


/* || Product Slider 6F5BFA */
.card-title { text-align: center; }

.product-btn { 
    box-shadow: none !important; 
    font-size: 0.5em !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: 1.2px;
}

.product-btn i {
    vertical-align: -5px;
    font-size: 15px;
}

.card-title a { 
    font-family: 'Constantia'; 
    color: black;
    text-decoration: none;
}
.card-title a:hover { color: rebeccapurple; }
.card-stuff .card-text { font-size: 0.8em; }

.productImg { height:280px; }

@media screen and (max-width:450px) {
    .productImg { height: 250px; }

    .card-stuff {
        margin-left: 7%;
        margin-right: 7%;
    }

    .categoryCard {
        margin-left: 5%;
        margin-right: 5%;
    }

    .card-stuff .card-title { font-size: 1.1em; }
    .card-stuff .card-text { font-size: 0.9em; }
}

.wrapper .item{
    padding-left: 5px;
    padding-right: 5px;
}

.owl-carousel .product-btn {
    background-color: rgba(128,128,128,0.7) !important;
    border: none !important;
}   

.owl-carousel .product-btn:hover {
    background-color: rgba(52,58,64,0.7) !important;
}


/* || Contact Section & Join Us Section */
.jumbotron-fluid {
    background-color: #03a9f4;
    margin: 0;
}
.jumbotron-fluid button, a.btn {
    font-size: 0.9em;
}


/* || Join Us Modal */

/* IN MULTIPLE PAGE css file */
.modal-header button {
    font-size: 25px !important;
}
.modal-title + button:focus {
    border: none;
    outline: none;
}

/* || BUTTON Classes */
.myButton{
    letter-spacing: 2px;
    font-size:12px;
}

.specialBtn{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
