@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#addBook_box {
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.8);
    padding: 25px 20px;
}

#addBook_box label {
    font-size: medium;
    letter-spacing: 0.7px;
    color: #37474f;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
}

#addBook_box .form-check label {
    color: rgba(0, 0, 0, 0.6);
    font: smaller;
}

#addBook_box input[type="text"] {
    border-radius: 0;
}
