@charset "utf-8";

.pos-relative {
    position: relative;
}

img.about-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;
}

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    background: #4b301b;
    opacity: 0.50;
}