@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: grey;
    color: white;
}

/* ------------- || HOME BANNER SLIDER ------------- */

.slider img {
    width: 100%;
    height: inherit;
}

@media screen and (max-width:768px) {
    .slider img {
        object-fit: cover;
    }
}

.drk::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4b301b;
    opacity: 0.75;
}

.slider .indicators .indicator-item.active {
    background-color: #4b301b;
}

.caption {
    margin-top: 13%;
    z-index: 1;
}

.caption h5 {
    font-family: 'Rowdies', cursive;
}

/* ------------- || COFFEE CONTENT ------------- */

#coffee-content img {
    display: block;
    margin: auto;
}

/* ------------- || PARALLAX ------------- */

.parallax-container.drk::after {
    opacity: .55;
}

.parallax-container {
    height: 500px;
}

@media screen and (max-width:576px) {
    .parallax-container {
        height: 450px;
    }
}

/* ------------- || SERVICES ------------- */

.services i {
    font-size: 75px;
    color: #4b301b;
    display: block;
    text-align: center;
}

.services i+p {
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width:450px) {
    .services i {
        font-size: 50px;
    }
}

/* ------------- || CUSTOMER SAY ------------- */

.feedback-heading {
    font-family: 'Rowdies', cursive;
    text-align: center;
}

.feedbacks a {
    margin-top: -50px;
    color: white;
    background-color: #4b301b;
    text-align: center;
    vertical-align: middle;
    padding: 0 15px;
    padding-top: 55px;
}

/* ------------- || PAGINATION ------------- */

.pagination .active {
    background-color: #4b301b !important;
}

/* ------------- || GALLERY ------------- */

#gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* ------------- || FAQs ------------- */

.tabs {
    background: rgba(239,235,233,0.5);
}

.tab a {
    color: #4b301b !important;
}

.tabs .active {
    background: rgba(215,204,200,0.6) !important;
    font-weight: bolder;
}

.tabs .indicator {
    background-color: #a1887f;
}

/* ------------- || FOOTER ------------- */

footer {
    margin-top: -50px;
    background-color: #4b301b !important;
}

.footer-copyright a {
    opacity: 0.7;
    transition: 0.3s;
}

.footer-copyright a:hover {
    opacity: 1;
}

@media screen and (min-width:601px) {
    .footer-copyright .right {
        margin-right: 50px;
    }
}

@media screen and (max-width:600px) {
    .footer-copyright .right {
        float: left !important;
    }
}

/* ------------- || FIXED FLOATING BUTTON ------------- */

.fixed-action-btn>a {
    background-color: rgba(75, 48, 27, 0.5) !important;
    -webkit-box-shadow: 0px 2px 4px grey;
    -ms-box-shadow: 0px 2px 4px grey;
    box-shadow: 0px 2px 4px grey;
}

.fixed-action-btn>a:hover {
    background-color: rgba(75, 48, 27, 1) !important;
    -webkit-box-shadow: 0px 2px 4px #4b301b;
    -ms-box-shadow: 0px 2px 4px #4b301b;
    box-shadow: 0px 2px 4px #4b301b;
}