@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
/* font-family: 'Merienda One', cursive; */

.brand-logo {
    margin-left: 15px;
    font-size: 1.7em !important;
    font-family: 'Sedgwick Ave Display', cursive;
}

.nav-wrapper {
    background-color: #4b301b;
}

.nav-wrapper a {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width:768px) {
    .brand-logo {
        font-size: 1.4em !important;
        margin-left: 0px;
    }
}

#nav-dropdown-1 a, #nav-dropdown-2 a {
    color: #4b301b;
    text-align: center !important;
}

.nav-wrapper .active {
    font-weight: bolder;
    letter-spacing: 1px;
}

.dropdown-content {
    border: none;
    border-bottom: 2.5px solid #4b301b !important;
}

/* Side Navbar */

.user-view {
    height:230px !important; 
    padding-top: 60px !important;
}

.user-view img {
    object-fit: cover;
}

.bg-brown {
    background: rgba(0,0,0,0.1);
}