@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.saved_notes_heading {
    color: darkslategray;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 20px 0 15px 15px;
    font-weight: bold;
    padding: 0 10px 3px 10px;
    border-bottom: 5px solid rgba(55, 71, 79, 1);
}

.saved_notes .card {
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 4px rgba(128, 126, 126, 0.9);
}

.saved_notes .card-title,
.delete_note_btn {
  color: rgba(55, 71, 79, 1);
  font-weight: 600;
}

.delete_note_btn {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border: 1px solid rgba(55, 71, 79, 1);
  border-radius: 0;
}

.delete_note_btn:hover {
  background: rgba(55, 71, 79, 1);
  color: white;
}


/**** Empty Notelist & No Results Found  */
.empty_notelist,
.no_result_found {
    text-align: center;
    color: rgba(55, 71, 79, 1);
    margin-bottom: 50px;
}

.empty_notelist_logo,
.no_result_found_logo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 300px;
}

.empty_heading {
    font-weight: bold;
    color: rebeccapurple;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.empty_description {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}