@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-80px);
  font-family: "Montserrat", sans-serif;
  z-index: -100;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */

.glitch {
  position: relative;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
  color: lightgray;
  text-shadow: 0px 1px 2px white;
}

@media screen and (max-width: 400px) {
  .glitch {
    font-size: 2em;
  }
}

@media screen and (min-width: 769px) {
  .glitch {
    font-size: 3.5em;
    letter-spacing: 0.25em;
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@media screen and (max-width: 768px) {
  .glitch::before,
  .glitch::after {
    top: -10px;
  }
}

.isohack_tagline {
  color: white;
  font-family: "Lato", sans-serif;
  transform: translateY(60px);
  text-transform: capitalize;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  font-size: medium;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/

@keyframes glitch-anim {
  0% {
    clip: rect(93px, 9999px, 70px, 0);
    transform: skew(0.57deg);
  }
  5% {
    clip: rect(42px, 9999px, 18px, 0);
    transform: skew(0.76deg);
  }
  10% {
    clip: rect(76px, 9999px, 51px, 0);
    transform: skew(0.64deg);
  }
  15% {
    clip: rect(5px, 9999px, 66px, 0);
    transform: skew(0.21deg);
  }
  20% {
    clip: rect(59px, 9999px, 82px, 0);
    transform: skew(0.33deg);
  }
  25% {
    clip: rect(12px, 9999px, 23px, 0);
    transform: skew(0.71deg);
  }
  30% {
    clip: rect(97px, 9999px, 7px, 0);
    transform: skew(0.07deg);
  }
  35% {
    clip: rect(40px, 9999px, 94px, 0);
    transform: skew(0.41deg);
  }
  40% {
    clip: rect(79px, 9999px, 60px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(28px, 9999px, 58px, 0);
    transform: skew(0.49deg);
  }
  50% {
    clip: rect(81px, 9999px, 23px, 0);
    transform: skew(0.05deg);
  }
  55% {
    clip: rect(75px, 9999px, 12px, 0);
    transform: skew(0.32deg);
  }
  60% {
    clip: rect(83px, 9999px, 25px, 0);
    transform: skew(0.42deg);
  }
  65% {
    clip: rect(13px, 9999px, 6px, 0);
    transform: skew(0.59deg);
  }
  70% {
    clip: rect(14px, 9999px, 67px, 0);
    transform: skew(0.4deg);
  }
  75% {
    clip: rect(64px, 9999px, 71px, 0);
    transform: skew(0.94deg);
  }
  80% {
    clip: rect(98px, 9999px, 98px, 0);
    transform: skew(0.7deg);
  }
  85% {
    clip: rect(60px, 9999px, 27px, 0);
    transform: skew(0.35deg);
  }
  90% {
    clip: rect(75px, 9999px, 89px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(80px, 9999px, 46px, 0);
    transform: skew(0.45deg);
  }
  100% {
    clip: rect(56px, 9999px, 88px, 0);
    transform: skew(0.55deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(96px, 9999px, 14px, 0);
    transform: skew(0.2deg);
  }
  5% {
    clip: rect(86px, 9999px, 12px, 0);
    transform: skew(0.31deg);
  }
  10% {
    clip: rect(33px, 9999px, 99px, 0);
    transform: skew(0.78deg);
  }
  15% {
    clip: rect(21px, 9999px, 48px, 0);
    transform: skew(0.75deg);
  }
  20% {
    clip: rect(62px, 9999px, 17px, 0);
    transform: skew(0.46deg);
  }
  25% {
    clip: rect(36px, 9999px, 50px, 0);
    transform: skew(0.47deg);
  }
  30% {
    clip: rect(45px, 9999px, 61px, 0);
    transform: skew(0.42deg);
  }
  35% {
    clip: rect(62px, 9999px, 83px, 0);
    transform: skew(0.75deg);
  }
  40% {
    clip: rect(22px, 9999px, 5px, 0);
    transform: skew(0.27deg);
  }
  45% {
    clip: rect(93px, 9999px, 47px, 0);
    transform: skew(0.21deg);
  }
  50% {
    clip: rect(58px, 9999px, 41px, 0);
    transform: skew(0.72deg);
  }
  55% {
    clip: rect(93px, 9999px, 58px, 0);
    transform: skew(0.76deg);
  }
  60% {
    clip: rect(95px, 9999px, 29px, 0);
    transform: skew(0.09deg);
  }
  65% {
    clip: rect(64px, 9999px, 22px, 0);
    transform: skew(0.17deg);
  }
  70% {
    clip: rect(18px, 9999px, 91px, 0);
    transform: skew(0.39deg);
  }
  75% {
    clip: rect(42px, 9999px, 79px, 0);
    transform: skew(0.03deg);
  }
  80% {
    clip: rect(93px, 9999px, 3px, 0);
    transform: skew(0.61deg);
  }
  85% {
    clip: rect(27px, 9999px, 1px, 0);
    transform: skew(0.29deg);
  }
  90% {
    clip: rect(1px, 9999px, 38px, 0);
    transform: skew(0.37deg);
  }
  95% {
    clip: rect(12px, 9999px, 6px, 0);
    transform: skew(0.72deg);
  }
  100% {
    clip: rect(54px, 9999px, 17px, 0);
    transform: skew(0.15deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(2deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(-4deg);
  }
  90% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

/* Deadline Timer */

#timer_field {
  color: lightgrey;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 2px;
}

#timer_field #days,
#timer_field #hours,
#timer_field #minutes,
#timer_field #seconds {
  position: relative;
  margin: 0 20px;
}

#timer_field #days:after,
#timer_field #hours:after,
#timer_field #minutes:after,
#timer_field #seconds:after {
  position: absolute;
  top: 45px;
  left: 0px;
  text-align: center;
  font-size: small;
}

#timer_field #days:after {
  content: "DAYS";
  left: -2px;
}

#timer_field #hours:after {
  content: "HOURS";
  left: -8px;
}

#timer_field #minutes:after {
  content: "MINUTES";
  left: -12px;
}

#timer_field #seconds:after {
  content: "SECONDS";
  left: -14px;
}

@media screen and (max-width: 576px) {
  #timer_field {
    font-size: 20px;
  }

  #timer_field #days:after,
  #timer_field #hours:after,
  #timer_field #minutes:after,
  #timer_field #seconds:after {
    top: 35px;
  }
  #timer_field #days:after {
    left: -3px;
  }

  #timer_field #hours:after {
    left: -11px;
  }

  #timer_field #minutes:after {
    left: -18px;
  }

  #timer_field #seconds:after {
    left: -18px;
  }
}

@media screen and (max-width: 400px) {
  #timer_field {
    font-size: 5vw;
  }
}

/* Devfolio Apply Button */
.apply-button {
  animation-name: devfolioScroll !important;
  animation-duration: 1s !important;
  animation-delay: 1s !important;
  animation-fill-mode: forwards !important;
  animation-timing-function: ease-in-out !important;
  z-index: 2000 !important;
  opacity: 0 !important;
}

@keyframes devfolioScroll {
  0% {
    opacity: 0 !important;
    transform: translateY(-100px) !important;
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}
